.upper {
  text-transform: uppercase;
}
.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.inline-block {
  display: inline-block;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.first-page-logo {
  padding: 50px 0 50px;
}
.first-page-logo .myImg {
  width: 200px;
}
.first-page-header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
footer {
  background-color: #222532;
  color: #999;
}
.footer-main .container {
  padding-top: 80px;
  margin-bottom: 40px;
}
.footer-main .container div[class*="col-"] {
  margin-bottom: 15px;
}
.footer-main .container h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.footer-main .container ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-decoration: none;
}
.footer-main .container li {
  border-top: 1px solid #31333b;
}
.footer-main .container li:first-child {
  border-top: none;
}
.footer-main .container a {
  color: #808080;
  display: inline-block;
  padding: 10px 0 10px;
  line-height: 1.5;
}
.footer-main .container a:hover {
  text-decoration: none;
  color: #b3b3b3;
}
.copyright {
  background-color: #15151e;
  text-transform: uppercase;
  font-size: 11px;
}
.copyright-content {
  padding: 30px 0 10px;
}
